<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="submit" value="Sign Out"/>
</form>
<div>
    <form method="post" action="add">
        <input type="text" name="text" placeholder="Input message">
        <input type="text" name="tag" placeholder="Input tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Add</button>
    </form>
</div>
<div>Список сообщений</div>
<br>
<form method="post" action="filter">
    <input type="text" name="filter" placeholder="Input message">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">Find</button>
</form>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Text</th>
        <th>Tag</th>
    </tr>
    </thead>
    <tbody>
{{#messages}}
    <tr>
        <td>{{id}}</td>
        <td>{{text}}</td>
        <td>{{tag}}</td>
    </tr>
{{/messages}}
    </tbody>
</table>
</body>
</html>